<ion-header>
  <ion-toolbar color="principal">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/subscriptions/type"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="subscription">
    <ion-img alt="{{subscription.type}}" src="{{subscription.icon}}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{subscription.type}}</ion-card-title>
      <ion-card-subtitle>
        <ion-item>Acceso {{subscription.content.acces}}</ion-item>
        <ion-item>{{subscription.content.activeUsers}} Usuario activo</ion-item>
        <ion-item>Soporte 24/7</ion-item>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Subtotal {{exclusiveVAT}}€ <br>
      IVA {{vat}}€ <br>
      Total [Iva incuido] {{subscription.price}}€
    </ion-card-content>
    <ion-img style="width: 95%; margin-left: auto; margin-right: auto;" alt="Metodos de pago" src="assets/pago/Formas_Pago.png"></ion-img>
    <ion-button color="principal" expand="block" style="width: 95%; margin-left: auto; margin-right: auto; margin-bottom: 1em;" id="presentDownload">Comprar subscripción -
      {{subscription.price}}€</ion-button>
    </ion-card>

  <ion-alert trigger="presentDownload" header="¿Quieres descargar el recibo de compra?"
    subHeader="Pago realizado con éxito" [buttons]="alertButtons" (didDismiss)="onPurchase($event)"></ion-alert>
</ion-content>
