ion-avatar {
  width: 10em;
  height: 10em;
  border: 3px solid #a309cd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

ion-card-title {
  text-align: center;
  font-weight: bold;
}

ion-card-subtitle {
  text-align: center;
}

ion-input {
  margin-bottom: 0.5em;
}

.comicsContainter {
  margin-left: auto;
  margin-right: auto;

  ml-comic-card {
    text-align: center;
    width: 100%;
  }
}
