<ion-header>
  <ion-toolbar color="principal">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form #registerForm="ngForm" (ngSubmit)="addUser()">
      <ion-img src="assets/Iconos/icono_registro.png" alt="Registro de usuario"></ion-img>

      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre usuario</ion-label>
          <ion-input name="name" required [(ngModel)]="newUser.name" #nameModel="ngModel"></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success"
            *ngIf="nameModel.dirty && nameModel.valid"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" required [(ngModel)]="newUser.email" #emailModel="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success"
            *ngIf="emailModel.dirty && emailModel.valid"></ion-icon>
        </ion-item>
        <div ngModelGroup="passGroup" #passGroupModel="ngModelGroup" appMatch="password,password2">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" name="password" minlength="4" required [(ngModel)]="newUser.password"
              #passModel="ngModel"></ion-input>
            <ion-icon name="checkmark-circle" slot="end" color="success"
              *ngIf="passModel.dirty && passModel.valid"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Repite contraseña</ion-label>
            <ion-input type="password" name="password2" required [(ngModel)]="userInfo.password"
              #passModel2="ngModel"></ion-input>
            <ion-icon name="checkmark-circle" slot="end" color="success"
              *ngIf="passModel2.dirty && passGroupModel.valid"></ion-icon>
          </ion-item>
        </div>
        <ion-item>
          <ion-label position="inset">Avatar</ion-label>
          <ion-button color="secondary" (click)="takePhoto()">
            <ion-icon name="camera" slot="start"></ion-icon>
            Camara
          </ion-button>
          <ion-button color="tertiary" (click)="pickFromGallery()">
            <ion-icon name="images" slot="start"></ion-icon>
            Galería
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-img [src]="newUser.avatar" *ngIf="newUser.avatar"></ion-img>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="principal" expand="block"
              [disabled]="registerForm.invalid || !newUser.avatar">
              <ion-icon name="document-text" slot="start"></ion-icon>
              Registrarse
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button type="reset" style="width: 100%;" (click)="resetForm()">
              <ion-icon name="refresh-circle" slot="start"></ion-icon>
              Resetear
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="danger" expand="block" fill="outline" [routerLink]="['/auth/login']"
              [routerDirection]="'root'">
              <ion-icon name="arrow-undo-circle" slot="start"></ion-icon>
              Volver al login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
